<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>My Login App</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<h1>Home page</h1>
<a href="/register">SignUp</a><br/>
<a href="/login">LogIn</a><br/>
<a href="/logout">LogOut</a>
</body>
</html>